aniso8601==8.0.0
atomicwrites==1.4.0
attrs==19.3.0
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
colorama==0.4.3
decorator==4.4.2
ElasticMock==1.5.1
elasticsearch==7.8.0
elasticsearch-dsl==7.2.1
Flask==1.1.2
flask-accepts==0.17.3
flask-restx==0.2.0
idna==2.9
ipython-genutils==0.2.0
itsdangerous==1.1.0
Jinja2==2.11.2
jsonschema==3.2.0
jupyter-core==4.6.3
MarkupSafe==1.1.1
marshmallow==3.6.1
mock==4.0.2
more-itertools==8.4.0
nbformat==5.0.7
packaging==20.4
pigar==0.10.0
pluggy==0.13.1
py==1.8.2
pyparsing==2.4.7
Pyro4==4.80
pyrsistent==0.16.0
pytest==5.4.3
python-dateutil==2.8.1
pytz==2020.1
pywin32==228
requests==2.24.0
serpent==1.30.2
six==1.15.0
traitlets==4.3.3
urllib3==1.25.9
wcwidth==0.2.4
Werkzeug==1.0.1
